* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #f0f4f8;
}

header {
    background: #0ea5a5;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: yellow;
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

article {
    background: white;
    padding: 20px;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

article h2 {
    color: #0ea5a5;
}

aside {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    max-width: 250px;
    
    height: fit-content; 
}

footer {
    text-align: center;
    padding: 10px;
    background: #0ea5a5;
    color: white;
}
